<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PokeDex</title>
    <style>
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f8ff; 
        color: #333;
        margin: 0;
        padding: 0;
        text-align: center;
      }

      h1 {
        font-size: 3em;
        color: #ffcb05; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
      }

      div {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        padding: 15px;
        max-width: 500px;
        transition: transform 0.2s;
      }

      div:hover {
        transform: scale(1.05); 
      }

      p {
        font-size: 1.2em;
        color: #2a75bb; 
      }

      a {
        color: #ff0000; 
        text-decoration: none;
        font-weight: bold;
      }

      a:hover {
        color: #ffcb05; 
      }

      @media (max-width: 600px) {
        div {
          max-width: 90%;
          padding: 10px;
        }

        h1 {
          font-size: 2.5em;
        }

        p {
          font-size: 1em;
        }
      }
    </style>
  </head>
  <body>
    <h1>PokeDex pcpropr</h1>
    <% results.forEach(pokemon => { %>
    <div>
      <p>Nome: <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></p>
      <p>URL: <%= pokemon.url %></p>
    </div>
    <% }) %>
  </body>
</html>
